/* file still needs media queries */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background:linear-gradient( to right bottom,#e66465, #9198e5);
  background-size: cover;
  background-position: center;
  font-weight: 400;
  padding: 4rem;
  box-sizing: border-box;
  line-height: 1.5;
}

.wrapper {
  background-color: #fff;
  padding: 5rem;
  color: #555;
}

.container {
  padding: 0;
  text-align: center;
  width: auto;
}

.container__title {
  margin-bottom: 10rem;

}

.container__title--modifier {
  font-size: 6.5rem;
  font-weight: 700;
}



.container__description {
  display: flex;
  align-items: stretch;
  padding-bottom: 6rem;
}

.imagen {
  flex: 0 0 35%;
  height: 50rem;
  padding-left: 0;
  
  
}

.imagen__jen {
  border-radius: .5rem;
  height: 100%;
  box-shadow: 0 .3rem 2rem rgba(0, 0, 0, .8);
  transition: all 2s;
  perspective: 200rem;
}

.classHidden {
  display: none;
}

.imagen__jen:hover {
  transform: rotateY(-180deg)

}

#jenniferVideo {
  width:66.736rem;
  height: 50rem;
}


.information {
  display: flex;
  align-content: center;
  flex: 0 0 65%;
  width: 100%;
}

.information p {
  font-size: 2.1rem;
  text-align: justify;
  padding: 0 9rem;
  margin-right: 8rem;
}

.wiki:link,
.wiki:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgba(27, 2, 250, 0.89);
}

.wiki:hover,
.wiki:active {
  background-color: rgba(300, 65, 65, 0.9);
}

.movie, .table__list {
  margin: 0 auto;
}

#newSpan {
  display: block;
  margin: 4rem 0;
  color: red;
  text-transform: uppercase;

}


.movie {
  display: table;
  font-size: 2rem;
  
}


.movie--input {
  display: table-row;
}

lable, input {
  display: table-cell;
  margin-bottom: 1rem;
}


lable {
  padding-right: 1rem;
}



.movie__button {
  display: block;
  outline: none;
  border: 0;
  color: #fff;
  font-size: 2rem;
  background-color: rgb(236,65,65);
  border-radius: 10rem;
  margin: 2rem 3rem 0 2rem;
}

.questionTrivia {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.input__trivia,
.movie__title,
.movie__year,
.date {
  padding: 1rem;
  line-height: 1.5;
  border-radius: .5rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

#triviaId {
  padding: .5rem;
  margin: 2rem 0;
  text-align: center;
}

.text-input {
  width: 20rem;
  height: 3rem;
  text-align: center;
}

.button-trivia {
  display: inline-block;
  font-size: 1.6rem;
  margin: 4rem 1rem;
  width: 13rem;
}

.text-input--form {
  margin-left: 5rem;
  font-size: 2rem;
}

.movie__button:hover,
.movie__button:active {
  background-color: rgb(242,102,102);
}



.table__list {
  border-collapse: collapse;
  margin: 3rem auto;
}

 th, td {
  font-size: 2rem;
   border: 0.1rem solid black;
  text-align: center;
}

.area {
  text-align: center;
  margin: 12rem 0;
  font-size: 2rem;
}

#new__element {
  background-color: rgb(236,65,65);
  color: #f7f7f7;
  margin: 2rem auto;
}

.area__label,
.area__textarea {
    letter-spacing: 1px;
    font-size: 2rem;

}
.area__textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.area__label {
    display: block;
    margin-bottom: 10px;
}

.button-area {
  display: block;
  margin: 5rem auto;
}


.footer {
  background-color: #333;
  margin-top: 2rem;
  padding: 4rem 4rem;
  height: 20rem;
}

.footer::after {
  content: "";
  display: table;
  clear: both;
}



.social {
  float: right;
}

.creator {
  float: left;
}

.creator p {
  color: #777;
  line-height: 3rem;
  font-size: 1.6rem;
}

.author {
  color: #f7f7f7;
}

.e-address:link,
.e-address:visited {
    font-size: 1.8rem;
    color: #f5f5f5;
}

.social__links {
  list-style: none;
}

.social__links li {
  display: inline-block;
  margin: 2rem 1rem;
}

.footer__links {
  color: #777;
}

.fab {
  font-size: 2rem;
}


.fa-facebook-square:hover,
.fa-facebook-square:active {
  color: rgb(59, 89, 152);
}

.fa-twitter:hover,
.fa-twitter:active {
  color: rgb(29, 161, 242);
}

.fa-google-plus-square:hover,
.fa-google-plus-square:active {
  color: rgb(219, 68, 55);
}

.fa-instagram:hover,
.fa-instagram:active {
  color: rgb(195, 42, 163);
}


@media screen and (max-width: 1024px) {
 
 
  .wrapper {
    overflow: hidden;
    /* background-color: transparent; */

  }
  .container {
    margin: 0 auto;
  }

  .container__description {
    flex-direction: column;
  }
  .information {
    margin-top: 5rem;
  }

  .information p {
    padding: 0 4rem;
    margin-right: 0;
  }

  .movie__button {
    margin-left: 6rem;
  }
}





#trivia__game {
  border: .4rem solid black;
  width: 100rem;
  height: auto;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 8rem auto;
  text-align: center;
}

.button:link,
.button:visited {
  background-color: rgb(236,65,65);
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
}

.button:hover,
.button:active {
  background-color: rgb(242,102,102);

}


