


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background:linear-gradient( to right bottom,#e66465, #9198e5);
  background-size: cover;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding: 4rem;
  box-sizing: border-box;
}

.wrapper {
  background-color: #fff;
  padding: 5rem;
  color: #555;
}

.container {
  padding: 0;
  text-align: center;
  width: auto;
}

.container__title {
  margin-bottom: 10rem;
  
}

.container__title--modifier {
  font-size: 6.5rem;
  font-weight: 700;
}



.container__description {
  display: flex;
  align-items: stretch;
  padding-bottom: 6rem;
}

.imagen {
  flex: 0 0 35%;
  width: 100%;
  padding-left: 0
}


.information {
  display: flex;
  align-content: center;
  flex: 0 0 65%;
  width: 100%;
}

.information p {
  font-size: 2rem;
  text-align: justify;
  padding: 0 9rem;
  
}

.wiki:link,
.wiki:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgba(27, 2, 250, 0.89);
}

.wiki:hover,
.wiki:active {
  color: rgba(224, 65, 65, 0.815);
}


.section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 10rem 0;
}

.movie {
  font-size: 2rem;
}

.movie__button {
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  padding: .1rem .7rem;
  background-color: red;
  color: #fff;
  border: 0;
  outline: none;
}



.date {
  font-size: 2rem;
}

 th, td {
  font-size: 2rem;
  border: 0.1rem solid black;
  text-align: center;
}



.footer {
  background-color: #333;
  margin-top: 2rem;
  padding: 4rem 4rem;
  height: 20rem;
}

.footer::after {
  content: "";
  display: table;
  clear: both;
}



.social {
  float: right;
}

.creator {
  float: left;
}

.creator p {
  color: #777;
  line-height: 3rem;
  font-size: 1.6rem;
}

.author {
  color: #f7f7f7;
}

.e-address:link,
.e-address:visited {
    font-size: 1.8rem;
}

.social__links {
  list-style: none;
}

.social__links li {
  display: inline-block;
  margin: 2rem 1rem;
}

.fab {
  font-size: 2rem;
}


.fa-facebook-square:hover, 
.fa-facebook-square:active {
  color: rgb(59, 89, 152);
}

.fa-twitter:hover,
.fa-twitter:active {
  color: rgb(29, 161, 242);
}

.fa-google-plus-square:hover,
.fa-google-plus-square:active {
  color: rgb(219, 68, 55);
}

.fa-instagram:hover,
.fa-instagram:active {
  color: rgb(195, 42, 163);
}